.home {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/6235230/pexels-photo-6235230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  min-height: 300px;
  
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title{
      font-family: "Poppins";
      font-weight: bolder;
      color: white;
    }

    .desc{
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      color: white;
    }

    .signUpContainer{
      display: flex;
      gap: 10px;
      color: white;
      
      .signUp{
        cursor: pointer;
        color: white;
      }
    }
  }
}  