.navbar {
    height: 70px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    background-color: white;
  
    .logoContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 14px;

      .logo {
        filter: brightness(0%);
        width: 40px;
        height: 40px;
      }

      .logoTitle {
        font-size: 30px;
        color:black;
        font-family: "poppins";
        font-weight: bolder;
      }
    }

    .desktopItems {
      display: flex;
      align-items: center;
      
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 20px;
        }
      }
    }

    .mobileItems{
      display: flex;
      align-items: center;

      .item{
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }
  }