.signUp{

    .background{
        height: calc(100vh - 70px);
        min-height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("https://images.pexels.com/photos/6235230/pexels-photo-6235230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: bottom;
        justify-content: center;

        .signUpContainer{
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            background-color: white;
            align-items: center;
            justify-content: center;
            height: 500px;
            box-shadow: 5px 5px 21px 1px rgba(0,0,0,0.55);
            -webkit-box-shadow: 5px 5px 21px 1px rgba(0,0,0,0.55);
            -moz-box-shadow: 5px 5px 21px 1px rgba(0,0,0,0.55);

            .title{
                color: black;
                font-family: "poppins";
                font-weight: bold;
                margin: 1rem;
                text-decoration: underline;
                text-decoration-color: lightgray;
                text-underline-offset: 0.7rem;
            }

            .selectBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .desc{
                    text-align: center;
                }

                .signUpButton{
                    /*
                    box-shadow: 5px 5px 30px 1px rgba(42, 42, 42, 0.2);
                    -webkit-box-shadow: 5px 5px 30px 1px rgba(42,42,42,0.2);
                    -moz-box-shadow: 5px 5px 30px 1px rgba(42,42,42,0.2);
                    */
                }
            }
        }
    }
}