@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(253, 253, 254);
}
  
::-webkit-scrollbar-thumb {
background-color: rgb(182, 184, 186);
border-radius: 3px;
}


::-webkit-scrollbar-thumb:hover {
background-color: rgb(164, 166, 168);;
}